@import '/normalize.css';
@import '/skeleton.css';

body {
    margin: 1em;
}

div {
    margin: 0.5em;
}

div.hidden {
    display: none;
}

div.error {
    color: red;
}

div.disabled, button.disabled {
    pointer-events: none;
}